.qualities-container {
    display: flex;
    flex-direction: row;
    /* padding: 10px 0; */
}

.qualities-container > li {
    width: 50%;
}

.quality-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 8px 0;
}

.quality-icon {
    color: var(--text-light);
    user-select: none;
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {

}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .qualities-container {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
}