.about-header {
    /* height: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qualities-container {
    display: flex;
    flex-direction: row;
}

.quality-item {
    display: flex;
    gap: 8px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.quality-icon {
    color: var(--text-light);
}
