.contacts {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 20px;
}

.image-container {
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-item {
    font-size: 10pt;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #B4D1FF;
}

.contact-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 0 4px 0 4px;
    height: 36px;
    width: 100%;
    transition: background-color 0.1s;
}

.contact-item-container:hover {
    background-color: var(--blue-gray-3);
}

.contact-item-container:hover > .contact-item-action {
    visibility: visible;
}

.contact-item-action {
    visibility: hidden;
    background-color: var(--background-color);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #B4D1FF;
}

.contact-item-action:hover {
    cursor: pointer;
    color: white;
}

.contacts-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.icon-sm {
    font-size: 14pt !important;
    width: 18px;
}

.text-sm {
    font-size: 10pt;
}

.fa-sm {
    font-size: 12pt !important;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 5px 3px #1E293B;
}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--text-light);
}

.location-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 8pt;
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {

}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .contact-item-action {
        cursor: pointer;
        visibility: visible;
    }
}

/* ----- SMALL PHONE ----- */

@media only screen and (max-width: 390px) {
    .image {
        width: 80px;
        height: 80px;
    }
}