.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    width: 100%;
    /* background-color: #0E141E; */
    top: 0;
    z-index: 10;
    /* box-shadow: 0 3px 5px 2px #080c13; */
}

.header-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 0 20px;
}

.header-name {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.menu-item-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu-item {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}

.menu-item:hover {
    border-bottom: 4px solid var(--text-light);
    animation: underline 0.3s;
}

@keyframes underline {
    from { border-bottom: 4px solid transparent; }
    to { border-bottom: 4px solid var(--text-light); }
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {

}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    
}