.main-container.home {
    height: 100vh;
}

.content-container.home {
    margin-top: 100px;
}

.shape-container {
    height: 95%;
    width: 100%;
}

.shape {
    height: 100%;
    width: 100%;
    background-color: var(--blue-gray);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url('../assets/main-image-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.shape-cutout {
    height: 40px;
    width: 220px;
    background-color: var(--background-color);
    position: absolute;
    border-radius: 12px 12px 0 0;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    bottom: -1px;
}

.shape-cutout::before, .shape-cutout::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 40px;
    bottom: -1px;
}

.shape-cutout::before {
    left: -40.5px;
    border-radius: 0 0 12px 0;
    box-shadow: 20px 0 0 0 var(--background-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.shape-cutout::after {
    right: -40.5px;
    border-radius: 0 0 0 12px;
    box-shadow: -20px 0 0 0 var(--background-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.overview-button {
    z-index: 8;
    bottom: -18px;
    position: absolute;
    width: 180px;
    height: 48px;
}

.main-text-container {
    z-index: 5;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-text {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--text-light);
}

.subtext {
    font-size: 1.1rem;
    color: var(--text-light);
    opacity: 0.7;
}

.highlighted-text {
    font-weight: 700;
    color: #5d9bff;
}

.shape-overlay {
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(14,20,30,1) 0%, rgba(71,107,167,0.1) 100%);
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.image-source {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8rem;
    opacity: 0.5;
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    .main-text-container {
        width: 70%;
    }
    .main-text {
        font-size: 2.2rem;
    }
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {
    .main-text-container {
        width: 80%;
    }
    .main-text {
        font-size: 1.9rem;
    }
}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .shape-container {
        height: 95%;
    }
    .content-container.home {
        margin-top: 90px;
    }
}

/* ----- SMALL PHONE ----- */

@media only screen and (max-width: 390px) {
    
}