.p1 {
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.projects-button {
    background-color: #1E293B;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #284066;
    transition: background-color 0.1s;
}

.projects-button:hover {
    background-color: #28364d;
    cursor: pointer;
}