.skill-chart-container {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill-label-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 23px;
}

.skill-label {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    height: 24px;
    display: flex;
    align-items: center;
}

/* SKILL CHART */

.skill-chart {
    width: 264px;
    height: 190px;
    position: relative;
    transition: width 0.1s;
}
.bar-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.skill-bar {
    height: 24px;
    background-color: var(--blue-bright);
    transition: width 0.5s, background-color 0.1s;
}

.skill-bar:hover {
    background-color: var(--secondary-color);
}

.bar-4 {
    width: 100%;
}

.bar-3 {
    width: 75%;
}

.bar-2 {
    width: 50%;
}

.bar-1 {
    width: 25%;
}

.bar-0 {
    width: 0%;
}

.axis-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 46px;
    height: 100%;
    top: 0;
    border-bottom: 1px solid var(--border-color);
    transition: gap 0.1s;
}

.axis-col {
    width: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4px;
}

.axis-line {
    height: 100%;
    width: 1px;
    background-color: var(--blue-gray-hover);
}

.axis-label {
    border-radius: 100%;
    height: 9px;
    width: 9px;
    background-color: var(--blue-gray-hover);
}

.axis-col:hover > .axis-line,
.axis-col:hover > .axis-label {
    background-color: var(--blue-bright);
}

.axis-col:hover {
    cursor: pointer;
}

.axis-base-h {
    width: 8px;
}

.more-skill-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {
    .skill-chart {
        width: 220px;
    }
    .axis-container {
        gap: 35px;
    }
}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .skill-chart {
        width: 180px;
    }
    .axis-container {
        gap: 25px;
    }
}