.tag-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
    /* margin: 10px 0; */
    /* width: 200px; */
}

.preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    /* overflow: hidden; */
}

.tag {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 16px;
    background-color: #0E141E;
    border: 1px solid #284066;
    font-size: 14px;
    color: var(--text-light);
}

.image-container {
    width: 100%;
    /* background-color: #284066; */
    border-radius: 8px;
    /* min-width: 240px;
    max-width: 360px; */
    aspect-ratio: 3 / 2;
}

.image {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

/* .image-h {
    height: 240px;
}

.image-v {
    height: 320px;
} */

.project-link {
    /* flex-direction: row; */
}

.project-link:hover {
    border-color: var(--text-light);
}

.content-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.section-container {
    padding: 20px;
    gap: 0;
    /* width: 278px; */
}

.header-text {
    font-size: 1rem !important;
}

.col-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.description {
    height: 64px;
    overflow: hidden;
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    .content-container {
        /* justify-content: center; */
    }
    .col-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* width: auto; */
    }
    .section-container {
        /* padding: 20px;
        gap: 0; */
        width: 250px;
        justify-self: flex-start;
    }
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {
    .content-container {
        justify-content: center;
    }
    .col-container {
        /* flex-direction: row;
        flex-wrap: wrap; */
        /* justify-content: center;
        align-items: center; */
        width: 70%;
    }
    .section-container {
        /* padding: 20px;
        gap: 0; */
        width: 100%;
    }
}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .qualities-container {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .col-container {
        width: 100%;
    }
    .section-container {
        /* padding: 20px;
        gap: 0; */
        width: 100%;
    }
}