.stack-container {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
    /* width: 200px; */
}

.preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stack-item {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 16px;
    background-color: #0E141E;
    border: 1px solid #284066;
    font-size: 14px;
}

.image-container {
    width: 100%;
    /* background-color: #284066; */
    border-radius: 8px;
    /* min-width: 240px;
    max-width: 360px; */
    aspect-ratio: 3 / 2;
}

.image {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

/* .image-h {
    height: 240px;
}

.image-v {
    height: 320px;
} */

.project-link {
    /* flex-direction: row; */
}

.project-link:hover {
    border-color: var(--text-light);
}

.content-container {
    /* flex-direction: column; */
}

.section-container {
    padding: 20px;
    gap: 10px;
}

.header-text {
    font-size: 1rem !important;
}