.project-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 0;
    margin: 100px 20px 20px 20px;
    align-items: center;
}

.icon-large {
    font-size: 1.8rem !important;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 8rem;
    /* max-width: 100%; */
}

.section-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.subsection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 50%; */
}

.subsection.left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 24rem;
    /* justify-content: center; */
}

.subsection.left.intro {
    /* justify-content: space-between; */
}

.single-image-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.primary-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

/* .intro-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
}

.tag {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 16px;
    background-color: #0E141E;
    border: 1px solid #284066;
    font-size: 14px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: flex-start; */
}

.body-section {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
}

.text {
    /* padding: 0 10px; */
}

.secondary-image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.tertiary-image-container {
    display: flex;
    gap: 20px;
}

.caption {
    font-size: 0.9rem;
    color: var(--text-light);
    margin-top: 5px;
    text-align: center;
}

.list-container {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.list-item {
    display: flex;
    gap: 12px;
}

.list-icon {
    color: var(--text-light);
}

/* ----- TABLET LANDSCAPE ----- */

@media only screen and (max-width: 900px) {
    .content-container {
        width: 70%;
    }
    .section-content {
        flex-direction: column;
    }
    .subsection.left {
        /* flex-shrink: 1; */
        /* flex-grow: 1; */
        flex-basis: auto;
    }
}

/* ----- TABLET ----- */

@media only screen and (max-width: 640px) {
    .content-container {
        width: 85%;
    }
}

/* ----- PHONE ----- */

@media only screen and (max-width: 480px) {
    .content-container {
        width: 100%;
    }
    .title {
        font-size: 1.4rem;
    }
}