<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/about.css" />
        <script type="text/javascript" src="./scripts/about.js"></script>
    </head>
    <body>
        <div class="section-container">
            <div class="section-header">
                <h1>About</h1>
                <a href="../assets/resume.pdf" target="_blank" class="button">
                    <span class="material-symbols-outlined icon-sm">
                        open_in_new
                    </span>
                    <span class="text-sm">CV</span>
                </a>
            </div>
            <div class="p1">Hello, my name is John Doe. This is a page about me and the things that I do.</div>
            <div class="p2">Here's why I'm the best:</div>
            <div class="qualities-container">
                <div class="col">
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Growth-oriented</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Creative</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Adaptive</span>
                    </div>
                </div>
                <div class="col">
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Quick-learning</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Detail-oriented</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined quality-icon">
                            task_alt
                        </span>
                        <span>Loyal</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>