<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/global.css" />
        <link rel="stylesheet" href="style/about.css" />
        <script type="text/javascript" src="./scripts/about.js"></script>
    </head>
    <body>
        <div class="section-container">
            <div class="about-header">
                <h1>About</h1>
            </div>
            <div class="p1">Hello, my name is John Doe. This is a page about me and the things that I do.</div>
            <div class="p2">Here's why I'm the best:</div>
            <div class="qualities-container">
                <div class="col">
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Awesome skill</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Growth-oriented</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Awesome</span>
                    </div>
                </div>
                <div class="col">
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Awesome</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Awesome</span>
                    </div>
                    <div class="quality-item">
                        <span class="material-symbols-outlined icon-sm quality-icon">
                            task_alt
                        </span>
                        <span>Placeholder</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>