<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/global.css" />
        <link rel="stylesheet" href="style/contacts.css" />
        <script type="text/javascript" src="./scripts/contacts.js"></script>
    </head>
    <body>
        <div class="section-container">
            <div class="contacts-header">
                <h1>Contacts</h1>
                <!-- <div class="cv-button">
                    <span class="material-symbols-outlined icon-sm">
                        open_in_new
                    </span>
                    <span class="text-sm">CV</span>
                </div> -->
            </div>
            <div class="contacts">
                <div class="image-container">
                    <img src="./assets/profile.jpg" class="image" />
                    <div class="location-container">
                        <div>
                            <span class="material-symbols-outlined icon-sm">
                                location_on
                            </span>
                        </div>
                        <div class="location-text">Vilnius</div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <span class="material-symbols-outlined icon-sm">
                                    call
                                </span>
                            </div>
                            <span id="phone-number">+370 612 34567</span>
                        </div>
                        <div class="contact-item-action">
                            <span class="material-symbols-outlined icon-sm">
                                content_copy
                            </span>
                        </div>
                    </div>
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <span class="material-symbols-outlined icon-sm">
                                    mail
                                </span>
                            </div>
                            <span>jon.doe@gmail.com</span>
                        </div>
                        <div class="contact-item-action">
                            <span class="material-symbols-outlined icon-sm">
                                content_copy
                            </span>
                        </div>
                    </div>
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <i class="fa fa-linkedin fa-sm"></i>
                            </div>
                            <span>John Doe</span>
                        </div>
                        <div class="contact-item-action">
                            <span class="material-symbols-outlined icon-sm">
                                open_in_new
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>