<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/contacts.css" />
        <script type="text/javascript" src="./scripts/contacts.js"></script>
    </head>
    <body>
        <div class="section-container">
            <div class="section-header">
                <h1>Contacts</h1>
            </div>
            <div class="contacts">
                <div class="image-container">
                    <img src="./assets/profile.jpg" class="image" />
                    <div class="location-container">
                        <div>
                            <span class="material-symbols-outlined icon-sm">
                                location_on
                            </span>
                        </div>
                        <div class="location-text">Vilnius</div>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <span class="material-symbols-outlined">
                                    call
                                </span>
                            </div>
                            <span id="phone-number">+370 612 34567</span>
                        </div>
                        <div
                            id="number-copy-button"
                            class="contact-item-action"
                            onmouseover="displayTooltip(this)"
                            onclick="copyPhoneNumber(this)"
                        >
                            <span class="material-symbols-outlined icon-sm">
                                content_copy
                            </span>
                            <span id="phone-tooltip" class="tooltip-text">Copy</span>
                        </div>
                    </div>
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <span class="material-symbols-outlined icon-sm">
                                    mail
                                </span>
                            </div>
                            <span>jonnn.doeee@gmail.com</span>
                        </div>
                        <div
                            id="email-copy-button"
                            class="contact-item-action"
                            onmouseenter="displayTooltip(this)"
                            onclick="copyEmail(this)"
                        >
                            <span class="material-symbols-outlined icon-sm">
                                content_copy
                            </span>
                            <span id="email-tooltip" class="tooltip-text">Copy</span>
                        </div>
                    </div>
                    <div class="contact-item-container">
                        <div class="contact-item">
                            <div class="icon-container">
                                <i class="fa fa-linkedin fa-sm"></i>
                            </div>
                            <span>John Doe</span>
                        </div>
                        <a href="https://www.linkedin.com/in/dominykas-guiga-004b6724a" target="_blank" class="contact-item-action">
                            <span class="material-symbols-outlined icon-sm">
                                open_in_new
                            </span>
                            <span class="tooltip-text">Visit</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>