<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/global.css" />
        <link rel="stylesheet" href="style/projects.css" />
        <!-- <script type="text/javascript" src="./scripts/contacts.js"></script> -->
    </head>
    <body>
        <div class="section-container">
            <div class="">
                <h1>Projects</h1>
            </div>
            <div>
                <div class="p1">While you’re here, take a look at some of my projects.</div>
                <div class="projects-button">
                    <span class="material-symbols-outlined icon-sm">
                        open_in_new
                    </span>
                    <div>Projects</div>
                </div>
            </div>
        </div>
    </body>
</html>