<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/projects.css" />
    </head>
    <body>
        <div class="section-container">
            <div class="section-header">
                <h1>Projects</h1>
                <a class="button" href="../projects/">
                    <span class="text-sm">View</span>
                    <span class="material-symbols-outlined icon-sm">
                        arrow_downward
                    </span>
                </a>
            </div>
            <div class="projects-content">
                <div class="p1">While you’re here, take a look at some of my projects.</div>
                <div class="project-snippet-container">
                    <div class="project-snippet-gallery">
                        <div class="project-snippet snippet-1">
                            <img src="../assets/nne-snippet.png" class="nne-snippet" />
                        </div>
                        <div class="project-snippet snippet-2"></div>
                        <div class="project-snippet snippet-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>