<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style/skills.css" />
        <script type="text/javascript" src="./scripts/skills.js"></script>
    </head>
    <body>
        <div class="section-container">
            <div class="section-header">
                <h1>Skills</h1>
                <div class="tab-container">
                    <div id="technical-tab" class="tab left-tab text-sm tab-selected" onclick="switchToTechnical()">Technical</div>
                    <div id="general-tab" class="tab right-tab text-sm" onclick="switchToGeneral()">General</div>
                </div>
            </div>
            <div class="skill-chart-container">
                <div class="skill-label-container">
                    <div class="skill-label">HTML</div>
                    <div class="skill-label">CSS</div>
                    <div class="skill-label">JavaScript</div>
                    <div class="skill-label">TypeScript</div>
                    <div class="skill-label">React</div>
                </div>
                <div class="skill-chart">
                    <div class="axis-container">
                        <div class="axis-base-h">
                            <div class="axis-line"></div>
                        </div>
                        <div class="axis-col">
                            <div class="axis-label"></div>
                            <div class="axis-line"></div>
                        </div>
                        <div class="axis-col">
                            <div class="axis-label"></div>
                            <div class="axis-line"></div>
                        </div>
                        <div class="axis-col">
                            <div class="axis-label"></div>
                            <div class="axis-line"></div>
                        </div>
                        <div class="axis-col">
                            <div class="axis-label"></div>
                            <div class="axis-line"></div>
                        </div>
                    </div>
                    <div class="bar-container">
                        <div class="skill-bar bar-4"></div>
                        <div class="skill-bar bar-4"></div>
                        <div class="skill-bar bar-4"></div>
                        <div class="skill-bar bar-3"></div>
                        <div class="skill-bar bar-3"></div>
                    </div>
                </div>
            </div>
            <div class="more-skill-container">
                <div class="tab-container">
                    <div id="arrow-back" class="tab left-tab text-sm no-actions" onclick="moveToPreviousPage()">
                        <span class="material-symbols-outlined icon-sm">
                            arrow_back
                        </span>
                    </div>
                    <div id="arrow-forward" class="tab right-tab text-sm" onclick="moveToNextPage()">
                        <span class="material-symbols-outlined icon-sm">
                            arrow_forward
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>